@import "tailwindcss";

* {
  box-sizing: border-box;
}

*:not(svg):not(svg *) {
  max-width: 100%;
}

html {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  touch-action: pan-y;
}

#root {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
